body {
  max-width: 1920px;
  overflow-x: hidden;
  font-size: 2rem;
  margin: auto;
  /* display: flex; */
  /* flex-direction: column; */
  /* background-repeat: no-repeat; */
  min-height: 100vh;
  height: auto;
  color: navy;
  text-align: center;
}

.vh-100 {
    background-color: navy;
    background-image: linear-gradient(to bottom, navy, deepskyblue);
}

h1 {
  color: white;    
}

.input-button {
    display: flex;
    justify-content: center;
}

form input {
    padding: 5px;
    margin-bottom: 5px;
}

button {
  width: 75px;
  padding: 5px;
  margin-bottom: 5px;
}

.message {
    display: flex;
    justify-content: center;
}

.ajax {
    display: flex;
    justify-content: center;
}

.ajax ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ajax ul li {
    list-style-type: none;
    justify-content: center;
    border: 5px solid silver;
    border-radius: 5px;
    padding: .75rem;
    margin: .75rem;  
    background-color: white;
}

@media (min-width: 1200px) {
    .ajax ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .vh-100 {
        background-image: linear-gradient(to bottom right, navy, deepskyblue);
    }
}