body {
  max-width: 1200px;
  overflow-x: hidden;
  font-size: 1.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

main {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  max-width: 500px;
  margin: auto;
}

main > div {
  min-width: 400px;
  margin-bottom: 50px;
}

main > div > a {
  margin-bottom: 12px;
}

main > div > h3 {
  margin-bottom: 12px;
}

button {
  width: 200px;
  margin: auto;
  padding: 25px;
  margin-bottom: 50px;
}